extends layout

block content
    h1= title
    form(name="add-estimation", method="post")
        div.input
            span.label token
            input(type="text", name="token")
        div.input
            span.label organization
            input(type="text", name="orgName")
        div.actions
            input(type="submit", value="submit")